<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/responsibilities.css">
    <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script defer src="/scripts/jquery-ui.min.js"></script>
    <script defer src="/scripts/responsibilities.js"></script>
    <title>Respawn</title>
</head>

<body>
    <ul class="nav nav-pills">
        <button type="button" id="newTask" class="btn btn-secondary btn-lg">create new task</button>
        <button type="button" id="hideNonAssigned" class="btn btn-secondary btn-lg">your tasks only</button>
        <div class="user-pills" id="userPills"></div>
        <!-- <button type="button" class="btn btn-secondary btn-sm nametag">user_1</button>
        <button type="button" class="btn btn-secondary btn-sm nametag">user_2</button>
        <button type="button" class="btn btn-secondary btn-sm nametag">user_3</button>
        <button type="button" class="btn btn-secondary btn-sm nametag">user_4</button> -->
    </ul>
    <div class="button-control">
        <button class="btn btn-default btn-circle btn-xl" data-toggle="tooltip" data-placement="right" title="Connects to the outline"><i class="fa fa-list"></i></button>
        <button class="btn btn-default btn-circle btn-xl" data-toggle="tooltip" data-placement="right" title="Tooltips as placeholders"><i class="fa fa-list"></i></button>
        <button class="btn btn-default btn-circle btn-xl" data-toggle="tooltip" data-placement="right" title="Third Button"><i class="fa fa-list"></i></button>
    </div>
    <div class="container">
        <div id="console-event"></div>

        <div class="row">
            <div class="dumb">
                <ul class="task-list" id="taskList">


                    <!-- <li class="list-item" id="listItem1">
                        <button class="btn btn-primary popper" data-toggle="popover" html="true" data-title="this title" data-content="<p>whatever</p> <a class='btn btn-primary btn-lg acceptTaskButton'>Accept</a>"></button>
                        <h5 class="task-name" id="task1">task number 1</h5>
                    </li>
                    <li class="list-item" id="listItem2">
                        <button class="btn btn-primary popper" data-toggle="popover" html="true" data-content="<p>whatever</p> <a class='btn btn-primary btn-lg acceptTaskButton'>Accept</a>"></button>
                        <h5 class="task-name" id="task2">task number 2</h5>
                    </li>
                    <li class="list-item" id="listItem3">
                        <button class="btn btn-primary popper" data-toggle="popover" html="true" data-content="<p>whatever</p> <a class='btn btn-primary btn-lg acceptTaskButton'>Accept</a>"></button>
                        <h5 class="task-name" id="task3">task number 3</h5>
                    </li>
                    <li class="list-item" id="listItem4">
                        <button class="btn btn-primary popper" data-toggle="popover" html="true" data-content="<p>whatever</p> <a class='btn btn-primary btn-lg acceptTaskButton'>Accept</a>"></button>
                        <h5 class="task-name" id="task4">task number 4</h5>
                    </li>
                    <li class="list-item" id="listItem5">
                        <button class="btn btn-primary popper" data-toggle="popover" html="true" data-content="<p>whatever</p> <a class='btn btn-primary btn-lg acceptTaskButton'>Accept</a>"></button>
                        <h5 class="task-name" id="task5">task number 5</h5>
                    </li>
                    <li class="list-item" id="listItem6">
                        <button class="btn btn-primary popper" data-toggle="popover" html="true" data-content="<p>whatever</p> <a class='btn btn-primary btn-lg acceptTaskButton'>Accept</a>"></button>
                        <h5 class="task-name" id="task6">task number 6</h5>
                    </li>
                    <li class="list-item" id="listItem7">
                        <button class="btn btn-primary popper" data-toggle="popover" html="true" data-content="<p>whatever</p> <a class='btn btn-primary btn-lg acceptTaskButton'>Accept</a>"></button>
                        <h5 class="task-name" id="task7">task number 7</h5>
                    </li>
                    <li class="list-item" id="listItem8">
                        <button class="btn btn-primary popper" data-toggle="popover" html="true" data-content="<p>whatever</p> <a class='btn btn-primary btn-lg acceptTaskButton'>Accept</a>"></button>
                        <h5 class="task-name" id="task8">task number 8</h5>
                    </li>
                    <li class="list-item" id="listItem9">
                        <button class="btn btn-primary popper" data-toggle="popover" html="true" data-content="<p>whatever</p> <a class='btn btn-primary btn-lg acceptTaskButton'>Accept</a>"></button>
                        <h5 class="task-name" id="task9">task number 9</h5>
                    </li>
                    <li class="list-item" id="listItem10">
                        <button class="btn btn-primary popper" data-toggle="popover" html="true" data-content="<p>whatever</p> <a class='btn btn-primary btn-lg acceptTaskButton'>Accept</a>"></button>
                        <h5 class="task-name" id="task10">task number 10</h5>
                    </li>
                    <li class="list-item" id="listItem11">
                        <button class="btn btn-primary popper" data-toggle="popover" html="true" data-content="<p>whatever</p> <a class='btn btn-primary btn-lg acceptTaskButton'>Accept</a>"></button>
                        <h5 class="task-name" id="task11">task number 11</h5>
                    </li> -->




                    <!-- <li class="list-item list-item-4 mode" id="listItem4">
                      <h5 class="task-name" id="taskName">wow cools man</h5>
                      <div class="bottom-buttons">
                        <button type="button" class="btn btn-warning" >accept task</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#theModal">more info</button>
                      </div>
                    </li>
                    <li class="list-item list-item-1 collap" id="listItem1">
                      <div class="top-line">
                        <h5 class="task-name" id="taskName">jsut a div</h5>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">YOW</button>
                        <div class="flex-margin"></div>
                      </div>
                      <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                          <button type="button" class="btn btn-warning" >accept task</button>
                        </div>
                      </div>
                    </li>
                    <li class="list-item list-item-1 collap" id="listItem144">
                      <div class="top-line">
                        <h5 class="task-name" id="taskName">thhoos a div</h5>
                        <button class="btn btn-primary popper" data-toggle="popover" html="true" data-content="<p>whatever</p> <a class='btn btn-primary btn-lg acceptTaskButton'>Accept</a>"></button>                        <div class="flex-margin"></div>
                      </div>
                    </li>
                    <li class="list-item list-item-1  collap popop" id="listItem29">
                      <div class="top-line">
                        <button class="btn popper" data-toggle="popover" title="${dynamically populated}" data-desc="dynamic !!"><h5 class="task-name" id="taskName">jsut a div</h5>                        </button>
                        <div class="flex-margin"></div>
                      </div>
                      <div class="collapse" id="collapseExample2">
                        <div class="card card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                          <button type="button" class="btn btn-warning" >accept task</button>
                        </div>
                      </div>
                    </li>
                      <h5 class="task-name" id="taskName">another task</h5>
                      <button class="btn popper" data-toggle="popover" html="true" data-content="<p>whatever</p> <a class='btn btn-primary btn-lg acceptTaskButton'>Accept</a>"></button>
                    </li>
                    <li class="list-item list-item-3" id="listItem3">
                      <h5 class="task-name" id="taskName">doing it </h5>
                      <button class="little-button popper" data-toggle="popover" title="${dynamically populated}"></button>
                    </li>
                    <li class="list-item list-item-5" id="listItem5">
                      <h5 class="task-name" id="taskName">ikea monopoly</h5>
                      <button class="little-button popper" data-toggle="popover" title="${dynamically populated}"></button>
                    </li>
                    <li class="list-item list-item-6" id="listItem6">
                      <h5 class="task-name" id="taskName">jurisprudence</h5>
                      <button class="little-button popper" data-toggle="popover" title="${dynamically populated}"></button>
                    </li>
                    <li class="list-item list-item-7" id="listItem7">
                      <h5 class="task-name" id="taskName">judas priestess</h5>
                      <button class="little-button popper" data-toggle="popover" title="${dynamically populated}"></button>
                    </li>
                    <li class="list-item list-item-8" id="listItem8">
                      <h5 class="task-name" id="taskName">manapaly money</h5>
                      <button class="little-button popper" data-toggle="popover" title="${dynamically populated}"></button>
                    </li>
                    <li class="list-item list-item-9" id="listItem9">
                      <h5 class="task-name" id="taskName">orgot thatchner</h5>
                      <button class="little-button popper" data-toggle="popover" title="${dynamically populated}"></button>
                    </li>
                    <li class="list-item list-item-10" id="listItem10">
                      <h5 class="task-name" id="taskName">toodaloo lulu</h5>
                      <button class="little-button popper" data-toggle="popover" title="${dynamically populated}"></button>
                    </li>
                    <li class="list-item list-item-11" id="listItem11">
                      <h5 class="task-name" id="taskName">yam tam pam shazam</h5>
                      <button class="little-button popper" data-toggle="popover" title="${dynamically populated}"></button>
                    </li>
                    <li class="list-item list-item-12" id="listItem12">
                      <h5 class="task-name" id="taskName">get busy tasking</h5>
                      <button class="little-button popper" data-toggle="popover" title="${dynamically populated}"></button>
                    </li> -->

                    <li class="list-item" id="listItem80">
                        <button class="btn btn-primary popper" data-toggle="popover" html="true" data-title="hard coded" data-content="<p>just hard coding the task</p> <a class='btn btn-primary btn-lg acceptTaskButton'>Accept</a>"></button>
                        <h5 class="task-name" id="task80">hard-coded task</h5>
                    </li>




                </ul>
            </div>
        </div>
    </div>


    <footer>
        <div class="progress-barea">do not expect a progress bar :)</div>
        <div class="copyw">@ 2019 david justin zack</div>
    </footer>

    <!-- TASK EDIT MODAL -->

    <div class="modal fade" id="newTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newTaskModalLabel">New Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <form class="task-edit">
                        <div class="form-group">
                            <label for="new-task-name" class="col-form-label">Task Name:</label>
                            <input type="text" class="form-control" id="newTaskName">
                        </div>
                        <div class="form-group">
                            <label for="description-text" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="newTaskDescription"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="new-task-status">Task Status:</label>
                            <select class="form-control" id="newTaskStatus">
                              <option>Pending</option>
                              <option>Unassigned</option>
                              <option>Assigned</option>
                              <option>Stretch</option>
                              <option>Complete</option>
                            </select>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark delete-task" id="deleteTask" data-dismiss="modal">Delete Task</button>
                    <div class="right-buttons">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">nevermind</button>
                        <button type="submit" class="btn btn-success">Create !</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>